# OpenOCD configuration for Xiao nRF52840 with CMSIS-DAP debugger

source [find interface/cmsis-dap.cfg]

transport select swd

# Set SWD clock to 100kHz for reliability
adapter speed 100

source [find target/nordic/nrf52.cfg]

init
reset init

# Resume before searching for RTT
resume

# Wait a moment for RTT to initialize
after 500

# Enable RTT after init
rtt setup 0x20000000 0x10000 "SEGGER RTT"
rtt start
rtt server start 9090 0
