/*
 * Water Detector Click 3 overlay for Xiao nRF52840
 * 
 * INT pin from Water Detector Click 3 is connected to D3 (P0.29)
 */

/ {
    water_sensor {
        compatible = "gpio-keys";
        water_detect: water_detect {
            gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
            label = "Water Detect INT";
        };
    };

    aliases {
        water-detect = &water_detect;
    };
};
